.img_container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.flat_img {
  width: auto;
  height: 100px;
  object-fit: cover;
}

.car_img {
  width: auto;
  height: 100px;
  object-fit: cover;
}

.offer-container {
  display: flex;
}

.center-cropped {
  width: 100%;
  height: 150px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px !important;
  // overflow: hidden;
  object-fit: cover;
}


.total-order {
  text-align: center;
}
