<div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-4 text-right">
            <p>Copyright ©SnowBot AI SAS 2017</p>
          </div>

          <div class="col-xs-4 text-center">
            <p> CGV | Mentions légales | Confidentialité</p>
          </div>
        </div>
      </div>
    </div>
