<div class="banner-login" style="background: url('<%= image_path "login.jpg" %>')">

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h2>Sign in with Facebook</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
