.btn-custom {
  margin-top: 0px;
  background-color: rgba(70, 175, 248, 0.8);
  border: blue;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px;
}

.btn-custom:hover {
  background-color: rgba(80, 185, 249, 1);
  color: white;
}
