.btn-custom {
  margin-top: 0px;
  background-color: rgba(70, 175, 248, 0.8);
  border: blue;
  border-radius: 7px;
  font-weight: bolder;
  padding: 10px;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-custom:hover {
  background-color: rgba(80, 185, 249, 1);
  color: white;
}

.btn-img {
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  transition: all 0.3s ease;
  opacity: 0.9;
}

.btn-img:hover {
  opacity: 0.7;
}

.btn-img-lg {
  width: 300px;
}

.btn-img-md {
  width: 200px;
}

.btn-img-sm {
  width: 100px;
}
