#footer {
  background: #333333;
  color: #CCCCCC;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer p {
  font-size: 15px;
}

#footer ul {
  display: inline-block;
  padding: 10px;
  font-size:10px;
  text-align: center;
}
#footer a {
  color: #CCCCCC;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: rgba(80, 185, 249, 1);
}

.network {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright{
  display: flex;
  align-items: center !important;
  justify-content: center;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.cgv {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
