.product {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: black;
  margin-bottom: 0;
}

.product-body-username {
  padding: 0 10px 0 10px;
}

.product-body-username h4 {
  margin: 25px 0 10px 0 !important;
}

.product-body-username h6 {
  margin: 0 0 3px 0 !important;
}

/* Product image */
.product-image {
  margin-right: 10px;
  width: 100%;
  max-width: 150px;
  height: 130px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px !important;
  // overflow: hidden;
  object-fit: cover;
}

.snow-resort-level {
  position: relative;
  height: 45px;
  width: 150px;
  margin-bottom: 5px;
}

.snow-resort-cm {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 90px;
  line-height: 20px;
}

.snow-resort-top {
  position: absolute;
  top: 0px;
  right: 0px;
}

.snow-resort-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
